/* Thread */
.thread {
	padding: 15px;
	border-top: 1px solid #383838;
}

/* Header */
.thread-username {
	font-size: 13px;
}
.thread-header > * {
	line-height: 13px;
}
.thread-header-col > p {
	margin: 0;
}
.thread-header-col > ion-avatar {
	height: inherit;
	width: 40px;
}
.thread-header-col {
	align-self: center;
}
.thread-header-col:nth-child(2) {
	margin-left: 10px;
}
.thread-header, .thread-header-col {
	padding: 0;
}
.thread-username {
	color: grey;
}

/* Content */
.thread-content {
	margin-left: 19px;
	padding-left: 20px;
	border-left: 1px solid grey;
}
.thread-content > p {
	margin: 0;
}
.thread-content > .thread-imgs {
	display: flex;
	overflow-x: scroll;
}
.thread-content > .thread-imgs > img {
	margin-top: 10px;
	margin-right: 10px;
	border-radius: 10px;
}
.thread-content-buttons {
	display: flex;
	/* justify-content: end; */
}

